
@model PagoEfectivo.Api.Demo.Models.Entity.CipViewModel;
@{
ViewData["Title"] = "Página Actualizar Cip";
Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="header-custom">
  <button class="btn btn-outline-warning" id="sidebarCollapseTitle" type="button">
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
  </button><span class="header-title">ACTUALIZAR CIP</span>
</div>
<div class="content-main">
  @using (Html.BeginForm("ActualizarCip", "Cips", FormMethod.Post))
  {
  <div class="form-group">
    <label for="firstInput">Número de CIP:</label>@Html.TextBoxFor(m => m.Data[0].Cip, new { @id = "cip", @class = "form-control", @Value = "" })
  </div>
  <div class="form-group">
    <label for="firstInput">Fecha de expiraci&oacute;n</label>
    <div class="row">
      <div class="col-sm-12">@Html.TextBoxFor(m => m.DateExpiry, new { @id = "datetimepicker", @class = "form-control datetimepicker-input", data_toggle = "datetimepicker", data_target = "#datetimepicker" })</div>
      <script type="text/javascript">
        $(function () {
         $('#datetimepicker').datetimepicker({
                locale: 'pt',
                format: 'YYYY-MM-DDTHH:mm:ssZ',
            });
        });
      </script>
    </div>
  </div>@Html.HiddenFor(m => m.Authenticate.IdService, new { @id = "idService" })
  @Html.HiddenFor(m => m.Authenticate.AccessKey, new { @id = "accessKey" })
  @Html.HiddenFor(m => m.Authenticate.SecretKey, new { @id = "secretKey" })
  <button class="btn btn-outline-secondary" type="submit">Actualizar</button>}<br>    @if (@ViewBag.response != null)
      {
  <div class="card">
    <div class="card-body">
      <label class="font-weight-bold" for="firstInput">Response</label><br>
      <div class="form-group">
        <label for="firstInput">Code:</label>
        <input class="form-control" id="status" type="text" value="@ViewBag.code" readonly="">
      </div>
      <div class="form-group">
        <label for="firstInput">Message:</label>
        <input class="form-control" id="message" type="text" value="@ViewBag.status" readonly="">
      </div>
      <div class="form-group">
        <label for="firstInput">Data:</label>
        <pre><code id="code">                               </code></pre>
      </div>
    </div>
  </div>
  <script>
    var response = @(Html.Raw(ViewBag.response));
    var str = JSON.stringify(response, null, 2);
    $('#code').text(str);
  </script>    }
</div>
<script>
  $(document).ready(function () {
  $('#idService').val(getCookie('serviceId'));
  $('#accessKey').val(getCookie('accessKey'));
  $('#secretKey').val(getCookie('secretKey'));
  })
</script>