@model PagoEfectivo.Api.Demo.Models.Entity.CipViewModel;
@{
ViewData["Title"] = "Página de Inicio";
Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="header-custom">
  <button class="btn btn-outline-warning" id="sidebarCollapseTitle" type="button">
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
  </button><span class="header-title">CONFIGURACI&Oacute;N CIP</span>
</div>
<div class="content-main">
  @using (Html.BeginForm("Index", "Cips", FormMethod.Post))
  {
  <div class="form-group">
    <label for="firstInput">ID de servicio:</label>@Html.TextBoxFor(m => m.Authenticate.IdService, new { @id = "serviceId", @class = "form-control", @Value = "" })
  </div>
  <div class="form-group">
    <label for="firstInput">Access key:</label>@Html.TextBoxFor(m => m.Authenticate.AccessKey, new { @id = "accessKey", @class = "form-control", @Value = "", @type = "password"  })
  </div>
  <div class="form-group">
    <label for="firstInput">Secret key:</label>@Html.TextBoxFor(m => m.Authenticate.SecretKey, new { @id = "secretKey", @class = "form-control", @Value = "", @type = "password"  })
  </div>
  <button class="btn btn-outline-secondary" type="submit">Registrar</button>}<br>    @if (@ViewBag.response != null)
      {
  <div class="card">
    <div class="card-body">
      <label class="font-weight-bold" for="firstInput">Response</label><br>
      <div class="form-group">
        <label for="firstInput">Code:</label>
        <input class="form-control" id="status" type="text" value="@ViewBag.code" readonly="">
      </div>
      <div class="form-group">
        <label for="firstInput">Message:</label>
        <input class="form-control" id="message" type="text" value="@ViewBag.status" readonly="">
      </div>
      <div class="form-group">
        <label for="firstInput">Data:</label>
        <pre><code id="code">                               </code></pre>
      </div>
    </div>
  </div>
  <script>
    var response = @(Html.Raw(ViewBag.response));
    var str = JSON.stringify(response, null, 2);
    $('#code').text(str);
    if(response.code == 100){
      var serviceId = document.getElementById("serviceId");
      var accessKey = document.getElementById("accessKey");
      var secretKey = document.getElementById("secretKey");
      setCookie("serviceId", serviceId.value);
      setCookie("accessKey", accessKey.value);
      setCookie("secretKey", secretKey.value);
    }
  </script>    }
</div>